
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table border="1" style="width:800px; font-family:Arial;">
        <tr>
            <td colspan="2" style="text-align:center; background-color:orange; color:white;">
                <h3>Çalışanlar Portalı</h3>
            </td>
        </tr>
        <tr>
            <td style="width:200px; background-color:orange;">
                @Html.ActionLink("Çalışan Listesi", "Index")
            </td>
            <td style="width:600px;">
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center; font-size:x-small; background-color:orange; color:white;">
                <h3>&copy;&nbsp;- Bilge Adam</h3>
            </td>
        </tr>
    </table>
</body>
</html>
